In [1]:
import pandas as pd

In [2]:
bert_df = pd.read_csv('bert_100_sampled_per_threshold.csv')
use_df = pd.read_csv('use_100_sampled_per_threshold.csv')

In [3]:
bert_df.drop('index', axis=1, inplace=True)
bert_df.head()

,label_1,label_2,passage_1,passage_2,score_1,score_2,SE_Thresh,dataset,SE_Model
0,0.0,1.0,"this movie , a certain scene in particular , b...","this film , a certain scene in particular , br...",0.615160,0.614089,0.97,mr,BERT
1,0.0,1.0,this dreadfully earnest inversion of the concu...,this hideously earnest inversion of the concub...,0.875906,0.602902,0.95,mr,BERT
2,0.0,1.0,a disappointment for those who love alternate ...,a disappointment for those who love alternate ...,0.529369,0.606173,0.98,mr,BERT
3,0.0,1.0,A great opportunity for and Indy director to m...,A great opportunity for and Indy director to m...,0.657990,0.553589,0.99,imdb,BERT
4,0.0,1.0,"a hit- and-miss affair , consistently amusing ...","a hit- and-miss affair , constantly amusing bu...",0.743465,0.505223,0.98,mr,BERT

In [4]:
use_df.drop('Unnamed: 0', axis=1, inplace=True)
use_df['SE_Model'] = 'USE'
use_df.head()

,label_1,label_2,passage_1,passage_2,score_1,score_2,SE_Thresh,dataset,SE_Model
0,1.0,0.0,What an overlooked 80's soundtrack. I imagine ...,What an overlooked 80's soundtrack. I imagine ...,0.520048,0.602820,0.98,imdb,USE
1,1.0,0.0,"I know that originally, this film was NOT a bo...","I know that originally, this film was NOT a bo...",0.698055,0.506594,0.99,imdb,USE
2,0.0,1.0,when seagal appeared in an orange prison jumps...,when seagal appeared in an orange prison jumps...,0.506640,0.580359,0.96,mr,USE
3,1.0,0.0,Steve Biko was a black activist who tried to r...,Steve Biko was a black activist who tried to r...,0.719950,0.503857,0.96,imdb,USE
4,1.0,0.0,I went here on Saturday as this was the first ...,I went here on Saturday as this was the first ...,0.991186,0.560182,0.97,yelp-sentiment,USE

In [5]:
import csv

full_df = pd.concat((bert_df, use_df))
full_df.rename(columns={ 'passage_1': 'text1', 'passage_2': 'text2'}, inplace=True)
full_df.to_csv('full_100_sampled_per_threshold.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)

In [6]:
full_df.head()

,label_1,label_2,text1,text2,score_1,score_2,SE_Thresh,dataset,SE_Model
0,0.0,1.0,"this movie , a certain scene in particular , b...","this film , a certain scene in particular , br...",0.615160,0.614089,0.97,mr,BERT
1,0.0,1.0,this dreadfully earnest inversion of the concu...,this hideously earnest inversion of the concub...,0.875906,0.602902,0.95,mr,BERT
2,0.0,1.0,a disappointment for those who love alternate ...,a disappointment for those who love alternate ...,0.529369,0.606173,0.98,mr,BERT
3,0.0,1.0,A great opportunity for and Indy director to m...,A great opportunity for and Indy director to m...,0.657990,0.553589,0.99,imdb,BERT
4,0.0,1.0,"a hit- and-miss affair , consistently amusing ...","a hit- and-miss affair , constantly amusing bu...",0.743465,0.505223,0.98,mr,BERT

In [8]:
full_df['SE_Thresh'].value_counts()

0.96    200
0.97    200
0.95    200
0.98    200
0.99    193
Name: SE_Thresh, dtype: int64