In [2]:
import pandas as pd

In [3]:
bert_df = pd.read_csv('bert-thresh-examples.csv')

bert_df.columns

Index(['index', 'label_1', 'label_2', 'passage_1', 'passage_2', 'score_1',
       'score_2', 'SE_Thresh', 'dataset', 'SE_Model'],
      dtype='object')

In [10]:
mr_df = bert_df[(bert_df['SE_Thresh'] == .98) & (bert_df['dataset'] == 'mr')]

print(mr_df.shape)

mr_df.head()

(88, 10)

,index,label_1,label_2,passage_1,passage_2,score_1,score_2,SE_Thresh,dataset,SE_Model
840,0,1.0,0.0,paid in full is remarkably engaging despite be...,paid in full is surprisingly engage albeit bei...,0.979929,0.612623,0.98,mr,BERT
841,1,0.0,1.0,"this movie , a certain scene in particular , b...","this movie , a certain scene in particular , b...",0.615160,0.597479,0.98,mr,BERT
842,2,0.0,1.0,mr . wedge and mr . saldanha handle the mix of...,mr . wedge and mr . saldanha handle the blendi...,0.767221,0.604759,0.98,mr,BERT
843,3,0.0,1.0,"for a film that celebrates radical , nonconfor...","for a films that celebrate radical , nonconfor...",0.760463,0.541838,0.98,mr,BERT
844,4,0.0,1.0,如assable enough for a shoot-out in the o . k ...,如assable enough for a shoot-out in the o . k ...,0.736965,0.560818,0.98,mr,BERT

In [42]:
real_df = mr_df['passage_1'].to_frame()
real_df.rename(columns={ 'passage_1': 'text'}, inplace=True)
real_df['label'] = 'real'

fake_df = mr_df['passage_2'].to_frame()
fake_df.rename(columns={ 'passage_2': 'text'}, inplace=True)
fake_df['label'] = 'fake'

full_df = pd.concat((real_df, fake_df))
print(full_df.shape)

full_df = full_df.sample(frac=1).reset_index(drop=True)
full_df.head()

(176, 2)

                                                text label
0  the sinister inspiration that fuelled devito's...  real
1  the most memorable moment was when green threw...  real
2  watching it is rather like an overlong visit f...  real
3  the sinister inspiration that fueled devito's ...  fake
4  hilarious musical comedy though impeded by acc...  fake

In [43]:
full_df['text'].value_counts().sum()

176

In [44]:
full_df['label'].value_counts()

real    88
fake    88
Name: label, dtype: int64

In [45]:
full_df.to_csv('tf-cf-0.9-bert-0.98.csv')